body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    flex-direction: column;
}

canvas {
    border: 2px solid #fff;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #A883F9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
}

button:hover {
    background-color: #9370db;
}
